body{
    background-color: #8ecae6;
    padding: 0px;
    margin: 0px;
}

.nav {
    background: #000;
    display: flex;
}

.content{
    margin: 30px 15px;
}

a {
    color: whitesmoke;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: #219ebc;
}

button {
    padding: 20px;
    color: white;
    background-color: #219ebc;
    border: 40px;
    border-radius: 10px;
    font-family: "Arial";
    transition: border-radius 0.3s ease-in-out;
}

button:hover {
    border-radius: 40px;
}

.other-version {
    margin: 30px 15px;
}

.release {
    color: white;
    background-color: #211e1e;
    padding: 5px 10px;
    border: 6px solid #000;
    border-radius: 20px;
}

.release .info {
    display: flex;
    flex-wrap: wrap;
}

.release .info div {
    margin: 5px;
}

.release a {
    color: rgb(36, 118, 185);
    margin: 0px;
    text-decoration: dashed;
}

.notes a {
    color: rgb(36, 118, 185);
    margin: 0px;
    text-decoration: dashed;
}
